.button{
    -fx-background-color: #00FBFF;
    -fx-text-fill: black;
    -fx-font-family: Consolas;
    -fx-font-size: 16px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.background{
    -fx-background-color: #FAFAF5;
    -fx-background-radius: 15px;
}

.imageTextField{
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-alignment: center;
}

.nameTextField{
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-alignment: center;

}

.priceTextField{
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
    -fx-text-fill: #426B1F;
    -fx-alignment: center;
}
.quantityTextField{
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
    -fx-text-fill: #928e8e;
    -fx-alignment: center;
}

.descriptionTextField{
    -fx-font-family: Consolas;
    -fx-font-size: 16px;
    -fx-text-fill: #928e8e;
    -fx-padding: 10px;
    -fx-text-alignment: center;
    -fx-border-radius: 0;
}

.label{
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-alignment: center;
}