.root{
    /*-fx-font-family: Consolas;*/
    /*-fx-font-size: 20px;*/
}

.search_label{
    -fx-font-family: Consolas;
    -fx-font-size: 28px;
    -fx-padding: 0px 0px 0px 10px;
    -fx-font-weight: bold;

}

.search_field{
    -fx-font-size: 20px;
    -fx-font-family: Consolas;
    -fx-background-radius: 15px;
}

.button_main {
    -fx-font-family: Consolas;
    -fx-background-color: #00FBFF;
    -fx-border: none;
    -fx-font-color: black;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 24px;
    -fx-cursor: pointer;
    -fx-font-weight: bold;
}

.tableLabel{
    -fx-font-size: 30px;
    -fx-color: #000000;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 10px;
    -fx-font-family: Consolas;
}

.customScrollPane{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-insets: 0;
}

.customAnchorPane{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: transparent transparent grey transparent;
}

.tableBackground {
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-border: 1px;
    -fx-border-style: solid;
}
